section
	div.container
		form
			div.box
				h2 Войти
				input(
				type="text"
				name="enterEmail"
				id="enterEmail"
				placeholder="Email"
				)
				input(
				type="text"
				name="enterPassword"
				id="enterPassword"
				placeholder="Пароль"
				)
				a.btnEnter(href="#") Войти
					span.arrow
				div.clearfix.downBox
					p Нет аккаунта на Toxin?
					a.btnCreate(href="innerReg.html") Создать

